<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bit.do/blend-css" rel="stylesheets">
    <link rel="stylesheet" href="/css/clase-12/contenido-clase-12.css">

    <title>Clase 12</title>
</head>
<body>
    <header>
        <h3>Contenido Clase 12</h3>
        <h4>Agregando estilos</h4>
    </header>
    <main>
    <ul>
            <li><label for="show-nav2">Introducción a CSS</label>  </li>
            <input type="checkbox" id="show-nav2" hidden>
            <div class="navbar__menu2 introcuccion-a-css caja-divs">        
                <div class="primer-selector caja-divs">
                    <div><h4>Primer selector</h4></div>
                    <p>¡Hola Mundo!</p>
                    <p>Estamos practicando los selectores de CSS para darle estilo a nuestro sitio web</p>
                </div>

                <div class="mas-selectores caja-divs">
                    <div><h4>Más selectores</h4></div>
                    <h1 id="gigante">Desarollo Web Full-Stack</h1>

                    <h3>HTML5</h3>
                    <p class="negrita">Descripción</p>
                    <P>Estructura y maquetado</P>

                    <h3>CSS</h3>
                    <p class="negrita">Descripción</p>
                    <p>Estilos y apariencia</p>

                    <h3>JS</h3>
                    <p class="negrita">Descripción</p>
                    <p>Interacción y dinamismo</p>
                </div>

                <div class="atributo-class caja-divs">
                    <div><h4>Atributo class</h4></div>
                    <h1 class="destacado">OFERTAS</h1>

                    <h3 class="en-mayuscula">Smartphones</h3>
                    <p>Celulares de útlima marca</p>

                    <h3 class="en-mayuscula">Notebooks</h3>
                    <p >Gamers, office y más</p>

                    <h3 class="en-mayuscula">Tablets</h3>
                    <p>Llevalas a todos lados</p>

                    <h4 id="whatsapp">¡Contactanos via whastapp!</h4>
                </div>
                <div class="incluyendo-un-archivo-css caja-divs">
                    <div><h4>Incluyendo un archivo CSS</h4></div>
                    <div class="container">
                        <div class="jumbotron">
                          <h1>¡Hola Mundo!</h1>
                          <button class="btn btn-default">Continuar</button>
                        </div>
                      </div>
                </div>
            </div>
            
            <li><label for="show-nav3">Fuentes</label>  </li>
            <input type="checkbox" id="show-nav3" hidden>
            <div class="navbar__menu3 fuentes caja-divs">
                <div class="agregando-estilos caja-divs">
                    <div><h4>Agregando estilos</h4></div>
                    <h1>¿Qué tan importante es el diseño web?</h1>

                    <p> El diseño web se puede definir como la cara visible de la página. La estructura, la imagen y la forma serían los 
                        elementos clave que tiene en cuenta este factor. Los principales objetivos del diseño de un sitio web son, a 
                        grandes rasgos, dos: una buena estética y una óptima experiencia del usuario, todo ello con el único fin de 
                        comunicar algo a nuestro usuario. En general, el diseño web busca crear un diseño sencillo y perfectamente 
                        explicado para cubrir estos dos objetivos.</p>
                </div>
                
            </div>

            <li><label for="show-nav4">Fondos</label>  </li>
            <input type="checkbox" id="show-nav4" hidden>
            <div class="navbar__menu4 fuentes caja-divs">
                <div class="fondos caja-divs">
                    <div><h4>Imagen de fondo</h4></div>
                    <h1>¡Hola!</h1>
                    <h2>Soy un gatito escondido</h2>
                </div>
                
            </div>
        
    </ul>
        
    </main>

    <footer>
        <a href="/">Regresar</a>
    </footer>
    
</body>
</html>